@import '../../global.scss';

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    

    img {
      height: 80%;
      // overflow: hidden;
      margin-top: 5%;

    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    h2 {
      font-size: 30px;
    }

    form{
      // margin-top: 20px;
      position: relative;

      // align-items: center;
      // justify-content: center;

      input{
        width: 50%;
        height: 30px;
        border: none;
        border-bottom: 1px solid black;
        // margin: 10px 0px;
        margin-bottom: 30px;
        margin-left: 1vw;
        font-size: 14px;
        padding-left: 5px;
        outline: none;
        // font-size: 15px;
      }
  
      textarea{
        width: 90%;
        margin-bottom: 20px;
        margin-left: 1vw;
      }

      button {
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: crimson;
        color: white;
        font-weight: 700;
        cursor: pointer;
        margin-left: 1vw;
      }
      
      span {
      position: absolute;
      align-items: center;
      justify-content: center;
      color: green;
      z-index: 1;
      bottom: 3.5%;
      left: 40%;
    }
    }

    .arrow {
      position: absolute;
      rotate: 180deg;
      right: 3vw;
      bottom: 3vh;
      // border: solid 1px black;
      // padding: 1.5%;
      border-radius: 100%;
      // background-color: lightgrey;

      img {
        position: relative;
        top: .5vh;
        width: 30px;
      }
    }
    

    
  }
}