.intro {
  background-color: white;
  display: flex;


  .left {
    flex: 1;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 50px;
        margin: 10px 0;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
      }

    }
    a {
      position: absolute;
      bottom: 10px;
      right: 50%;

      img {
        width: 30px;
      }
    }

  }


  .right {
    flex: 1;

    .imgContainer {
      clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
      background-color: crimson;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;

      img {
        height: 100%;
        position: absolute;
        left: 14.5%;

        object-fit: cover;
      }
    }
  }

  
}