.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightsalmon;
    position: relative;
    top: 70px;
    scroll-behavior: smooth; //smooth & slower scroll
    scroll-snap-type: y mandatory; //makes vertical scrolling adhere to sections
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start; //makes scrolling snap align to the start of each section

    }
  }
}